nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") 相信音樂國際股份有限公司
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 引言 INTRO
      li
        a(href="#section_resume") 簡介  INTRODUCTION
      li
        a(href="#section_video") 宣傳 PROMOTION
      li
        a(href="https://fi7933201.github.io/chiaJun/" target="_blank") 設計者 DESIGNER 
header.jumbotron
  .container
    h1 MAYDAY　LiFE
    hr
    h4 五月天　人生無限公司
section#section_ask
  .container
    .row
      .col-sm-7.img
      .col-sm-5
        h2 一生活一場五月天
section#section_resume
  .container
    .row
      .col-sm-12
        h1 簡介 INTRODUCTION
        hr
      .col-sm-6
        .img_wrap
        img(src="https://goo.gl/ei1d5w", alt="")
        h3 五月天
        p 五月天（英語：MayDay）是臺灣的樂團，由主唱阿信、團長暨吉他手怪獸、貝斯手瑪莎、吉他手石頭和鼓手冠佑共五人組成；除冠佑外，其餘四人皆畢業自臺北市國立師大附中。樂團前身為「So Band」樂團，於1997年3月29日改為現名，其名稱取自瑪莎在BBS的代號「MayDay」。
        br
        h3 成員
        h5 Member        
        img(src="https://goo.gl/mRj4qF", alt="")
        h3 瑪莎　　石頭　　阿信　　怪獸　　冠佑
        br
        .skill
        h3 技能
        h5 Skill        
        ul
          li
            .circle
              .p90
              .p180
              .p270
            p 作詞作曲
          br
          li
            .circle
              .p90
              .p180
              .p270              
            p 巡迴演唱會
          br
          li
            .circle
              .p90
              .p180
              .p270
              .p360
            p 音樂製作
          br
          li
            .circle
              .p90
              .p180
              .p270
              .p360
            p 垃圾話

      .col-sm-6        
        h3 經歷
        h5 Experience
        ul
        li.year
          h3| 2019
          ul
            li            
            p 人生無限公司 最終場

            p 起點站 高雄 2017年3月18日
            p 最終站 台中 2019年1月6日
            p 總計122場 動員415萬人次參與        
        li.year
          h3| 2018
          ul
            li
            p 2018年國際足總世界盃決賽，FIFA官方開設的世界盃新浪微博帳號宣布經微博網友投票後，將在比賽現場播放五月天的《倔強》
            
        li.year
          h3| 2017
          ul
            li
            p 一連4場高雄世運主場館人生無限公司巡迴正式啟動，每場均吸引五萬歌迷到場。
            li
            p 2017年3月29日成軍20周年紀念日，大安森林公園舉辦演唱會，開放免費入場，現場共聚集3萬5千人，並於相信音樂YouTube頻道全程直播，高峰達到40萬人次。新浪微博直播線上最高同時觀看人次為529萬，YouTube總播放次數為224萬，新浪微博則是9393萬次。      
      
        h3 獲獎
        h5 Award
        ul
          li.year
            h3| 2017
            ul
              li            
              p 以第九張專輯《自傳》入圍第28屆金曲獎「最佳年度歌曲獎〈頑固〉」、「最佳音樂錄影帶〈頑固〉」、「最佳作曲人獎（五月天怪獸〈後來的我們〉）」、「最佳專輯製作人」、「最佳樂團獎」、瑪莎以家家的《還是想念》入圍「最佳單曲製作人獎」，並獲得「最佳作詞人獎（五月天阿信〈成名在望〉）」、「最佳國語專輯獎」。        
          li.year
            h3| 2012
            ul
              li
              p 以第八張專輯《第二人生》入圍第23屆金曲獎「最佳作詞人獎（五月天阿信〈諾亞方舟〉）」，並獲得「最佳專輯製作人獎」、「最佳作曲人獎（五月天瑪莎〈諾亞方舟〉）」、「最佳編曲人獎（五月天、陳建騏〈諾亞方舟〉）」、「最佳年度歌曲獎〈諾亞方舟〉」、「最佳樂團獎」、「最佳國語專輯獎」六個獎項，為當屆最大贏家

          li.year
            h3| 2009
            ul
              li
              p 以第七張專輯《後青春期的詩》入圍第20屆金曲獎「最佳作詞人獎（五月天阿信〈我心中尚未崩壞的地方、如煙〉）」，並獲得「最佳樂團獎」。

section#section_video
  .container
    .row
      .col-sm-12
        h1 宣傳/PROMOTION
        hr
      .col-sm-12
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/LG9_c6RrMyU?controls=0', allowfullscreen='')
section#section_tail
  .container    
    h4 Final exam © 2019 - Created by ChiaJun Xia